.button-hghlt{
  display: inline-block;
  cursor: pointer;

  & a {
    font-weight: 1000;
    // font-weight: bold;
    cursor: pointer;
    position: relative;
    padding: 0 .5em;
    font-size: 22px;
    color: white !important;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 25%;
      background-color: rgba(243,107,127,.6);
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      transition: all .1s linear;
      opacity: .9;
    }
    &:hover {
      cursor: pointer;
      &:after {
        background-color: rgba(243,107,127,.9);
      }
    }
  }
}

