.card-package {
  height: 450px;
  margin: 5px;
  background-color: $green-img;
  border-radius: 10px;
  overflow: auto;

  &:hover {
    opacity: .95;
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.1));
  }
}

.card-package-header {
  height: 150px;
  text-align: center;
  padding: 10px;
}

.card-header-icon {
  color: $beige-img;
  font-size: 30px;
  padding-bottom: 5px;
}

.card-header-title h3 {
  color: $beige-img !important;
}

.package-content p {
  color: $beige-img !important;
}

.package-content {
  padding: 10px;
  text-align: justify;
}
