.card-articles {
  height: 500px;
  margin: 5px;
  border-radius: 5px;
  -moz-box-shadow:    0px 3px 3px 0px #ccc;
  -webkit-box-shadow: 0px 3px 3px 0px #ccc;
  box-shadow:         0px 3px 3px 0px #ccc;
  &:hover{
    -moz-box-shadow:    0px 5px 5px 0px #ccc;
    -webkit-box-shadow: 0px 5px 5px 0px #ccc;
    box-shadow:         0px 5px 5px 0px #ccc;
  }
  &:hover .img_cover {
    opacity: .85;
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.1));
  }
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-img {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.card-img .img_cover {
  height: 200px;
  width: 100%;
  opacity: .75;
  border-radius: 5px 5px 0px 0px;
  &:hover {
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
  }
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.card-details {
  height: 100px;
  background-color: white;
}

.card-title {
  padding: 15px;
  margin: 0px;
}

.card-title h3 {
  font-size: 1.2rem;
}

.card-title a:link, a:hover, a:active, a:visited {
  text-decoration: none;
}

h3 {
  color: black;
  &:hover {
    color: black;
  }
}

a {
  color: #534e55;
  &:hover {
    color: #534e55;
  }
}

.card-description {
  padding: 0px 15px 15px 15px;
  height: 150px;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.card-description p {
  font-weight: lighter;
  font-size: 0.9rem;
  // max-width: 350px;
  // display: -webkit-box;
  // overflow : hidden;
  // text-overflow: ellipsis;
  // -webkit-line-clamp: 5;
  // -webkit-box-orient: vertical;
}

.card-published {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time-publication i {
  font-size: 0.8rem;
}

.img_logo {
  // position: absolute;
  // opacity: 1;
  // z-index: 500;
  width: 30px;
  // margin: 10px;
}

// .card-footer {
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   // padding: 10px;
// }
