.cards-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-team {
  position: relative;
  width: 400px;
  height: 500px;
  background: #000;
  box-shadow: 0 30px 30px rgba(0,0,0,.5);
  margin-bottom: 40px;
}

.card-team  .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-team .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.card-team:hover .img-box img {
  opacity: 0;
}

.card-team .details {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
}

.card-team:hover .details {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.card-team .details h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.card-team .details p {
  margin: 10px 0 0;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify;
}


.card-team:hover .details p {
  opacity: 1;
  transition-delay: 0.5s;
}
