// .cards-team {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   flex-wrap: wrap;
//   justify-content: space-around;
// }

.card-team {
  position: relative;
  // max-width: 400px;
  height: 500px;
  border-radius: 10px;
  // box-shadow: 0 30px 30px rgba(0,0,0,.5);
  -moz-box-shadow:    0px 3px 3px 0px #ccc;
  -webkit-box-shadow: 0px 3px 3px 0px #ccc;
  box-shadow:         0px 3px 3px 0px #ccc;
  margin-bottom: 40px;
}

.card-team  .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-team .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 10px;
}

.card-team:hover .img-box img {
  opacity: 0;
}

.card-team .details {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
}

.card-team:hover .details {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  position: absolute;
}

.card-team .details h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.card-team .details p {
  margin: 10px 0 0;
  padding: 0;
  opacity: 0;
  line-height: 1.5;
  transition: 0.5s;
  text-align: justify;
}


.card-team:hover .details p {
  opacity: 1 !important;
  transition-delay: 0.5s;
}

#img-background-andreea {
  background:url(../img/blob-3.svg) no-repeat 80% 45%;
}

#img-background-maxime {
  background:url(../img/blob-2.svg) no-repeat 55% 55%;
}
