.card-service {
  position: relative;
  height: 550px;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
}

.service-body {
  padding-top: 20px;
}

.service-footer {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.card-corp {
  border: 1px solid $yellow-img;
}

.yellow-line {
  width: 70%;
  margin: 0 auto;
  border-bottom: .5px solid $yellow-img;
  border-radius: 10px;
}

.margin-p {
  margin: 10px 0;
}

.indent-card {
  padding-left: 10px;
}

.imgservice {
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 175px;
  max-width: 280px;
  margin: 1rem 0;
}

#content-strategy {
  background-image:url(../img/04.png);
}

#brand-aware {
  background-image:url(../img/07.png);
}

#lead-gen {
  background-image:url(../img/11.png);
}
