// Pricing Cards

.cards-pricing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 15px;
  max-width: 1350px;
  margin: 0 auto;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-pricing {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-pricing {
    grid-template-columns: 1fr;
    grid-gap: 35px;
    padding: 20px 70px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-pricing {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    padding: 20px 200px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-pricing {
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    padding: 20px 130px;
  }
}

// Large devices (desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-pricing {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 20px 30px;
  }
}

