.card-package {
  height: 544px;
  margin: 5px;
  background-color: $beige-img;
  border-radius: 10px;
  overflow: hidden;

  &:hover {
    opacity: .95;
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.1));
  }
}

@media (min-width: 1200px) {
  .card-package {
    height: 544px;
  }
}

.card-package-header-1 {
  min-height: 400px;
  overflow: hidden;
}

.package-description {
  margin: 24px 24px 24px;
}

@media (min-width: 760px) {
  .package-description {
    margin: 24px 30px 47px;
  }
}


#bg-growth {
  background:url(../img/Growth.png) no-repeat center;
  background-size: 100%;
}

#bg-product {
  background:url(../img/Product.png) no-repeat center;
  background-size: 100%;
}

#bg-culture {
  background:url(../img/Culture.png) no-repeat center;
  background-size: 100%;
}

#bg-strategy {
  background:url(../img/Strategy.png) no-repeat center;
  background-size: 100%;
}

#bg-hiring {
  background:url(../img/Management.png) no-repeat center;
  background-size: 90%;
}

#bg-decision {
  background:url(../img/Decision.png) no-repeat center;
  background-size: 100%;
}
