.card-pricing {
  position: relative;
  height: 510px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
}

.pricing-footer {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.card-cons {
  border: 5px solid $green-img;
}

.card-corp {
  border: 5px solid $yellow-img;
}

.green-line {
  text-align: center;
  height: 0;
  width: 300px;
  border-bottom: 4px solid $green-img;
  border-radius: 10px;
}

.yellow-line {
  text-align: center;
  height: 0;
  width: 300px;
  border-bottom: 4px solid $yellow-img;
  border-radius: 10px;
}

.margin-h3 {
  margin: 20px 0;
}
