section.code-of-work {
  padding: 100px 0 0 0;
  background-color: #F9D8EB;

  @media (min-width: 1200px) {
    .container{
      max-width: 1350px;
    }

    .container-rules {
      padding: 0 105px;
      flex-direction: row !important;
    }

    .cow-rules {
      padding-left: 30px;
      margin-top: 0px !important;
    }

    .cow-img {
      padding-right: 30px;
    }
  }

  @media (min-width: 992px) and (max-width: 1200) {
    .cow-rules {
      padding: 0 200px;
    }
  }

  .text-vertically-centered{
    display: flex;
    align-items: center;
  }

  .subtitle{
    padding: 30px 0;
    text-align: center;
  }

  .line-height{
    line-height: 1.2;
  }

  .container-rules {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


  .cow-rules {
    margin-top: 30px;
  }

  .cow-img img {
    width: 100%;
    max-width: 600px;
  }

}
