section.code-of-work {
  // padding: 100px 0;

  .inline-icon-text{
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  // .inline-icon-text img {
  //   width: 100%;
  //   height: auto;
  // }

  .growth-talk-icon{
    width: auto;
    height: 50px;
    padding-right: 30px;
  }

  .text-vertically-centered{
    display: flex;
    align-items: center;
  }

  .subtitle{
    padding: 30px;
    text-align: center;
  }

  .line-height{
    line-height: 1.5;
  }
}
