// Styling for the download section
section.manifesto {
    position: relative;
    // padding: 150px 0;
    h2 {
        font-size: 50px;
        margin-top: 0;
    }

    .section-heading{
      margin-bottom: 7rem!important;
    }

    .dark-gray {
      color: $dark-gray;
    }

    @media (min-width: 768px) {
      .modal-xl {
        width: 90%;
       max-width:1200px;
      }
    }

    @media(min-width: 768px) {
        h2 {
            font-size: 70px;
        }
    }
}
