// Styling for the masthead
header.masthead {
  padding-top: 150px;
  padding-bottom: 100px;

  .header-content {
    margin-bottom: 70px;
    text-align: center;
  }

  .device-container {
    max-width: 100%;
  }

  .mb-6 {
    margin-bottom: 4rem !important;
    line-height: 1.5em;
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1350px;
    }
  }

  @media (min-width: 1229px) {
    .header-content {
      text-align: left;
      padding-left: 40px;
    }
    .mb-5 {
      text-align: left !important;
    }
    .button-centered {
      text-align: left !important;
    }
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    .header-content {
      margin-bottom: 0;
    }
  }
}
