// Mixins
@mixin transition-all() {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

@mixin h1-font {
  font-family:'Halant', serif;
  font-weight: 200;
  letter-spacing: 1px;

  @media (min-width: 100px) and (max-width: 575px) {
    font-size: 1.8rem;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    font-size: 2.1rem;
  }
}

@mixin heading-font {
    font-family: 'Halant', serif;
    color: black;
}

@mixin body-font {
    font-family: 'Nunito Sans', sans-serif;
}

@mixin alt-font {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}

