// Styling for the navbar
#mainNav {
    border-color: fade-out($gray-darker, .95);
    background-color: white;
    @include transition-all;
    @include h1-font;
    .navbar-brand {
        color: $light-yellow;
        @include h1-font;
        &:hover,
        &:focus {
            color: darken($light-yellow, 10%);
        }
    }

    #logo {
      width: 5;
      height: 5;
    }

    // width="30" height="30" class="d-inline-block align-top"

    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
        color: $gray-darker;
    }
    .navbar-nav {
        > li {
            > a {
                font-size: 11px;
                @include alt-font;
                &.active {
                    color: $light-yellow !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            > a,
            > a:focus {
                color: $gray-darker;
                &:hover {
                    color: $light-yellow;
                }
            }
        }
    }

    @media (min-width: 1200px) {
      .container{
        max-width: 1350px;
      }
    }

    @media (min-width: 992px) {
        border-color: transparent;
        background-color: transparent;
        .navbar-brand {
            color: fade(white, 70%);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .navbar-nav > li > a,
        .navbar-nav > li > a:focus {
            color: fade-out(white, .3);
            &:hover {
                color: white;
            }
        }
        &.navbar-shrink {
            border-color: fade-out($gray-darker, .9);
            background-color: white;
            .navbar-brand {
                color: $gray-darker;
                &:hover,
                &:focus {
                    color: $light-yellow;
                }
            }
            .navbar-nav > li > a,
            .navbar-nav > li > a:focus {
                color: $gray-darker;
                &:hover {
                    color: $light-yellow;
                }
            }
        }
    }
}
