// Styling for the navbar
#mainNav {
  background-color: white;
  @include transition-all;
  @include h1-font;

  .navbar-toggler {
    font-size: 20px;
    padding: 8px 10px;
    border: none;
  }

  .navbar-nav {
    > li {
      > a {
        font-size: 11px;
        @include alt-font;
        &.active {
          color: $pink-img !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
      > a,
      > a:focus {
        color: black;
        &:hover {
          color: $pink-img;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1350px;
    }
  }
}
