// :root {
//     --color-text: 0, 0, 0;
//     --color-background: 255, 255, 255;
//     --color-link: 0, 0, 0;
//     --type-base: calc(1.6em + 0.5vw);
//     --type-xxxx-small: 30%;
//     --type-xxx-small: 55%;
//     --type-xx-small: 65%;
//     --type-x-small: 75%;
//     --type-small: 85%;
//     --type-medium: 100%;
//     --type-large: 120%;
//     --type-x-large: 160%;
//     --type-xx-large: 160%;
//     --type-xxx-large: 160%;
//     --type-xxxx-large: 160%;
// }

#bootstrap-overrides {

  // Header

  #content-desktop {display: block;}
  #content-mobile {display: none;}

  @media screen and (max-width: 768px) {

  #content-desktop {display: none;}
  #content-mobile {display: block;}

  }

  @media (min-width: 1200px) {
    .container {
      max-width: 40em;
    }
  }

  @media screen and (min-width: 50em) {

    // :root {
    //   --type-base: calc(0.9em + 0.9vw);
    // }

    .intro {
      text-align: right;
    }

    .intro-title {
      text-align: left;
      font-size: var(--type-xx-large);
      margin-bottom: .8em;
    }

    .pb-content .collab {
      margin: 50px -100px 50px 100px;
    }
  }

  .l-post-content a {
    color: $link-blue-pb;
    text-decoration: none;
  }

  .l-post-content {
    margin-top: 20px !important;
    padding: 30px 0;

    @include respond-to('medium') {
      max-width: 40em;
      margin: 0 auto;

      @include respond-to('medium') {
        padding-bottom: 30px;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.3;
      padding-top: 5px;
      margin: 0 0 30px;

      @include respond-to('medium') {
        padding-top: 10px;
        margin-bottom: 40px;
      }
    }

    h1 {
      font-size: 2.125rem;

      @include respond-to('medium') {
        font-size: 2.625rem;
      }
    }

    h2 {
      font-size: 2.750rem;
      color: $mid-green-pb;


      @include respond-to('medium') {
        font-size: 3.75rem;
      }
    }

    h3 {
      font-size: 1.375rem;
      color: $mid-pink-pb;

      @include respond-to('medium') {
        font-size: 2.5rem;
      }
    }

    h4 {
      font-size: 1rem;

      @include respond-to('medium') {
        font-size: 1.375rem;
      }
    }

    h5 {
      font-size: 0.938rem;

      @include respond-to('medium') {
        font-size: 1.125rem;
      }
    }

    h6 {
      font-size: 0.813rem;

      @include respond-to('medium') {
        font-size: 1rem;
      }
    }

    p {
      letter-spacing: 0.2px;
      line-height: 1.5;
      font-size: 1.125rem;
      margin-bottom: 25px;
      color: $light-gray-pb;

      @include respond-to('medium') {
        letter-spacing: 0.3px;
        line-height: 1.6;
        font-size: 1.250rem;
        margin-bottom: 30px;
      }

      img {
        margin-bottom: 0 !important;
      }
    }

    b, strong {
      color: $dark-gray-pb;
    }

    ul, ol {
      letter-spacing: 0.2px;
      line-height: 1.5;
      font-size: 1.125rem;
      padding-left: 20px;
      margin: 0 0 20px 0;
      list-style-type: circle;

      @include respond-to('medium') {
        letter-spacing: 0.3px;
        line-height: 1.6;
        font-size: 1.250rem;
        padding-left: 40px;
        margin-bottom: 30px;
      }

      li {
        margin-bottom: 20px;
      }
    }
  }

  .intro-sticky {
    position: sticky;
    top: 2em;
  }

  .sketch-underline {
    background: url('../img/download.svg') bottom left/100% 0.75rem no-repeat;
    padding-bottom: 0.4rem;
  }

  .header-playbook {
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .header h1 {
    font-family: 'Noticia Text', serif;
  }

  .chapter-nb {
    color: $mid-blue-pb;
    font-style: italic;
  }

  @media (max-width: 400px) {
    .header-playbook {
      background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url("../img/artwork-mobile.jpg");
      height: 560px;
    }

    .header {
      position: absolute;
      top: 12%;
      color: white;
    }

    .header h1 {
      line-height: 1.5;
    }
  }
  @media (min-width: 400px) and (max-width: 600px) {
    .header-playbook {
      background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url("../img/artwork-mobile.jpg");
      height: 620px;
    }

    .header {
      position: absolute;
      top: 12%;
      color: white;
    }

    .header h1 {
      line-height: 1.5;
    }
  }
  @media (min-width: 601px) and (max-width: 992px) {
    .header-playbook {
      background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url("../img/artwork.jpg");
      height: 300px;
    }

    .header {
      position: absolute;
      color: white;
      top: 8%;
      left: 5%;
      right: 50%;
    }

    .header h1 {
      line-height: 1.5;
      font-size: 1.5rem;
    }
  }
  @media (min-width: 993px) and (max-width: 1200px) {
    .header-playbook {
      background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url("../img/artwork.jpg");
      height: 410px;
    }

    .header {
      position: absolute;
      color: white;
      top: 10%;
      left: 5%;
      right: 55%;
    }

    .header h1 {
      line-height: 1.8;
      font-size: 1.5rem;
    }
  }
  @media (min-width: 1201px) {
    .header-playbook {
      background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url("../img/artwork.jpg");
      height: 550px;
    }

    .header {
      position: absolute;
      color: white;
      top: 18%;
      left: 5%;
      right: 60%;
    }

    .header h1 {
      line-height: 1.5;
      font-weight: 500;
    }
  }

  nav[data-toggle=toc] .nav-link.active, nav[data-toggle=toc] .nav-link.active:focus, nav[data-toggle=toc] .nav-link.active:hover {
    color: $yellow-pb !important;
    border-left: 2px solid $yellow-pb !important;
  }

  .nav-link {
    color: black !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 15px !important;
    padding: 2px 0 !important;
  }

  .nav-link:hover {
    color: $yellow-pb !important;
    border-left: 2px solid $yellow-pb !important;
  }

  .responsive-img {
    max-width: 100%;
    height: auto;
  }

  img.responsive-img {
    display: block;
    margin: 0 auto 30px auto;
}

  // Quotes
  p.quote-pb {
    border-left: 4px dotted;
    color: $dark-yellow-pb;
    padding-left: 20px;
    font-size: 1.5rem;
    margin: 40px 0px
  }

  // Collaborators

  .collab-img-style {
    border-radius: 5px;
  }

  .capital-l {
    padding-top: 7px;
    margin-right: 12px;
    line-height: .83;
    font-size: 66px;
    float: left;
    color: $dark-green-pb;
  }
  .progress-container {
    width: 100%;
    height: 5px;
    position: fixed;
    top: 0;
    z-index: 100000;
    width: 100%;
    background-color: #f1f1f1;
    background: #ccc;
  }

  .progress-bar {
    height: 5px;
    background: #ffdf00;
    width: 0%;
    z-index: 100000;
  }

  .fab {
    color: #08a0e9;
    font-size: 40px;
  }

  .gray-bg {
    background-color: rgb(240,240,240);
    background-size: cover;
  }

  // codepen

  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(10deg);
    }
    30% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(5deg);
    }
    70% {
      transform: rotate(0deg);
    }
    80% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes sonar {
    0% {
      transform: scale(0.9);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  .page-wrapper .sidebar-wrapper,
  .sidebar-wrapper .sidebar-brand > a,
  .sidebar-wrapper .sidebar-dropdown > a:after,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
  .sidebar-wrapper ul li a i,
  .page-wrapper .page-content,
  .sidebar-wrapper .sidebar-search input.search-menu,
  .sidebar-wrapper .sidebar-search .input-group-text,
  .sidebar-wrapper .sidebar-menu ul li a,
  #show-sidebar,
  #close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  /*----------------page-wrapper----------------*/

  .page-wrapper {
    height: 100vh;
  }

  .page-wrapper .theme.chiller-theme {
    background: #1e2229;
  }

  /*----------------toggeled sidebar----------------*/

  .page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
  }

  @media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
      padding-left: 300px;
    }
  }
  /*----------------show sidebar button----------------*/
  #show-sidebar {
    position: fixed;
    left: 0;
    top: 10px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
  }
  .page-wrapper.toggled #show-sidebar {
    left: -40px;
  }
  /*----------------sidebar-wrapper----------------*/

  .sidebar-wrapper {
    width: 320px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -380px;
    z-index: 999;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  @media screen and (min-width: 768px) {
    .sidebar-wrapper {
      width: 380px;
      left: -420px;
    }
  }

  .sidebar-wrapper ul {
    list-style-type: none;
  }

  .sidebar-wrapper a {
    text-decoration: none;
  }

  /*----------------sidebar-content----------------*/

  .sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
    margin: 15px;
  }

  .sidebar-content.desktop {
    overflow-y: hidden;
  }

  /*----------------sidebar-toc----------------*/

  nav[data-toggle="toc"] .nav-link.active, nav[data-toggle="toc"] .nav-link.active:focus, nav[data-toggle="toc"] .nav-link.active:hover {
    color: rgb(255, 204, 2) !important;
    border-left: none !important;
  }

  nav[data-toggle="toc"] .nav-link, nav[data-toggle="toc"] .nav-link:focus, nav[data-toggle="toc"] .nav-link:hover {
    border-left: none !important;
  }

  .sidebar-wrapper .sidebar-menu ul li ul li {
    margin-left: 10px !important;
  }

  /*--------------------sidebar-brand----------------------*/

  .sidebar-wrapper .sidebar-brand {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-wrapper .sidebar-brand > a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
  }

  .sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 20px;
  }
  /*--------------------sidebar-----------------------*/

  #square-logo {
    display: block;
    max-width:40px;
    width: 100%;
    height: auto;
  }

  .sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
  }

  /*----------------------sidebar-menu-------------------------*/

  .sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
    padding-left: 30px;
  }

  .sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
  }

  .sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
  }

  .sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
  }

  .sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
    display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
  }

  .sidebar-wrapper .sidebar-menu ul li a span.label,
  .sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    transform: rotate(90deg);
    right: 17px;
  }

  /*--------------------------side-footer------------------------------*/

  #cta-curious {
    margin-top: 20px;
  }

  .sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
  }

  .sidebar-footer > a {
    flex-grow: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: relative;
  }

  .sidebar-footer > a .notification {
    position: absolute;
    top: 0;
  }

  .badge-sonar {
    display: inline-block;
    background: #980303;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
  }

  .badge-sonar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #980303;
    opacity: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: sonar 1.5s infinite;
  }


  /*------scroll bar---------------------*/

  ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #525965;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #525965;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  ::-webkit-scrollbar-track:active {
    background: transparent;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  /*-----------------------------backtotop-------------------------------------------------*/

  #backtotop {
      position: fixed;
      right: 0;
      opacity: 0;
      visibility: hidden;
      bottom: 25px;
      margin: 0 25px 0 0;
      z-index: 9999;
      transition: 0.35s;
      transform: scale(0.7);
      transition: all 0.5s;
  }

  #backtotop.visibility {
      opacity: 1;
      visibility: visible;
      transform: scale(1);

  }

  #backtotop.visibility a:hover {
      outline: none;
      opacity: 0.9;
      background: #ffcb00;
  }

  #backtotop a {
      outline: none;
      text-decoration: none;
      border: 0 none;
      display: block;
      width: 46px;
      height: 46px;
      background-color: gray !important;
      opacity: .4;
      transition: all 0.3s;
      border-radius: 50%;
      text-align: center;
      font-size: 26px;
      color: white
  }

  body #backtotop a {
      outline: none;
      color: #fff;
  }

  .fa-angle-up:before {
      position: absolute;
      top: 9px;
      right: 14.5px;
  }

  .display {
    display: none;
  }

  @media (min-width: 60em) {
    .playbook-illustration {
      height: 100vh !important;
    }
  }

  @media (max-width: 59.9375em) {
    .playbook-illustration {
        background-attachment: scroll!important;
        background-position-y: 0!important;
        background-size: cover!important;
    }
  }

  .playbook-illustration {
    height: 400px;
    position: relative;
    width: 100%;
    z-index: 200;
  }

  .intro-flex {
    display: flex;
  }

  @media (max-width: 991px) {
    .intro-flex {
        display: flex;
        flex-wrap: wrap-reverse;
      }
  }

  .learn-section {
    background-color: $light-blue-pb;
    padding: 2em 2em;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  /*-----------------------------chiller-theme-------------------------------------------------*/

  .chiller-theme .sidebar-wrapper {
      background: white;
  }

  /*------------------------------sidenav-------------------------------------------------*/

  .ebook-sideNav {
      box-sizing: border-box;
      flex: 0 1 auto;
      position: relative;
      opacity: 0;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity .15s;
      z-index: 100;
  }

  .ebook-sideNav.-absolute {
      position: absolute;
  }

  .ebook-sideNav.-visible {
      opacity: 1;
  }
  @media (min-width: 80em) {
    .ebook-sideNav {
        left: 45px;
    }
  }

  @media (min-width: 60em) {
    .ebook-sideNav {
        left: 25px;
    }
  }

  @media (min-width: 30em) {
    .ebook-sideNav {
        flex-basis: 16.66667%;
        max-width: 16.66667%;
        padding-left: 0;
        padding-right: 0;
    }
  }

  .ebook-sideNav-item {
      color: inherit;
      cursor: pointer;
      display: block;
  }

  .ebook-sideNav-item span {
      display: table-cell;
      font-size: .875rem;
      font-weight: 400;
      position: relative;
      transition: opacity .15s;
      vertical-align: middle;
  }

  .ebook-sideNav-number {
      opacity: 0;
      width: 25px;
  }

  .ebook-sideNav-divider {
      border-right: 1px solid #b7bfc6;
      padding-right: 4px;
      vertical-align: middle;
  }

  .ebook-sideNav-chapter {
      opacity: 0;
      padding-left: 10px;
  }

}
