section.team {

  padding: 0 0 100px 0;

  .ma {
    display: flex;
    flex-direction: column;
  }

  .top-team {
    display: flex;
    flex-direction: column;
  }

  .profile-team {
    display: flex;
    justify-content: center;
  }

  .profile-team img {
    max-width: 350px;
  }

  .text-team {
    margin: 50px 0px;
    text-align: justify;
  }

  @media (min-width: 992px) {
    .top-team {
      flex-direction: row;
      align-items: center;
      margin: 0 0 80px 0;
    }

    .text-team {
      text-align: justify;
    }

    .text-team-maxime {
      margin: 50px 80px 50px 120px;
    }

    .text-team-andreea {
      margin: 50px 120px 50px 80px;
    }
  }

  @media (min-width: 100px) and (max-width: 991px) {
    .profile-team {
      order: -1;
    }
  }

  @media (min-width: 100px) and (max-width: 575px) {

  }
}
