#rules {
  // position: relative;
  margin-top: 50px;
  // left: 20%;
  width: auto;
  height: 810px;
}

.st0{fill:none;stroke:#D0D2D3;stroke-width:11;stroke-linecap:round;stroke-miterlimit:10;}
  .st1{fill:#293472;}
  .st2{fill:#FFFFFF;}
  .st3{fill:none;stroke:#D0D2D3;stroke-width:11;stroke-miterlimit:10;}
