body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  // font-size: 60px;
}

.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0 0 0;
  width: 1000px;
  box-sizing: border-box;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.timeline ul {
  margin: 0;
  padding: 0;
}


.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}


.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
  content: '';
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: rgba(249,216,235,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(249,216,235,.4);
}

.timeline ul li:nth-child(even):before {
  content: '';
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: rgba(249,216,235,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(249,216,235,.4);
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

@media (max-width: 1000px) {
  .timeline {
    width: 100%;
  }
}

@media (max-width: 768px) {

  h1 {
    text-align: center;
    // font-size: 40px;
    padding: 0 20px;
  }

  .timeline {
    width: 100%;
    padding-bottom: 0;
  }

  .timeline:before {
    left: 20px;
  }

  .timeline li:nth-child(odd),
  .timeline li:nth-child(even) {
    width: 100%;
    text-align: left !important;
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .timeline li:nth-child(odd):before,
  .timeline li:nth-child(even):before {
    top: -18px;
    left: 16px !important;
  }

}
