// Variables

// Gray and Brand Colors for use across theme

$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
// $gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 75.5%); // #eee

$brand-twitter:		#1da1f2;
$brand-facebook:	#3b5998;
$brand-google-plus:	#dd4b39;

// Old color code

$dark-purple-img: #ECCFD6;
$light-purple-img: #F9D8EB;
$green-img: #83B5A5;
$light-blue-img: #9FBEFF;
$dark-blue-img: #3040C4;
$yellow-img: #F8CF62;
$beige-img: #FCF0E2;
$pink-img: #F36B7F;

// New color code

$blue: #a0bdfc;
$yellow: #f7d78f;
$purple: #f8d9ec;
$green: #8ddbc3;
$light-blue: #dce9f4;
$gray: #F5F5F5;
