// Variables

// Gray and Brand Colors for use across theme

$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%); // #222
$gray-dark: lighten($gray-base, 20%); // #333
// $gray:             lighten($gray-base, 33.5%); // #555
$gray-light: lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 75.5%); // #eee

$brand-twitter: #1da1f2;
$brand-facebook: #3b5998;
$brand-google-plus: #dd4b39;

// Color code

$dark-purple-img: #eccfd6;
$light-purple-img: #f9d8eb;
$green-img: #83b5a5;
$light-blue-img: #9fbeff;
$dark-blue-img: #3040c4;
$yellow-img: #f8cf62;
$beige-img: #fcf0e2;
$pink-img: #f36b7f;
$yellow-pb: #ffcc02;
$titles: #333;
$body: #4a4a4a;
$white: #fff;
$black: #000;

// Playbook color code

$super-light-blue-pb: #ebf6ff;
$light-blue-pb: #a0bdfc;
$mid-blue-pb: #75a1ff;
$link-blue-pb: #2d61d5;
$light-yellow-pb: #f7d78f;
$mid-yellow-pb: #ecc66f;
$dark-yellow-pb: #d79a0f;
$light-pink-pb: #f8d9ec;
$mid-pink-pb: #f296cf;
$light-green-pb: #8ddbc3;
$mid-green-pb: #58ceaa;
$dark-green-pb: #2ab58b;
$light-blue-gray-pb: #dbe9f4;
$mid-blue-gray-pb: #a7d0f2;
$light-gray-pb: #6e6e6e;
$dark-gray-pb: #464646;
$collab-blue-pb: #EBF6FF;

// Old color code

$blue: #a0bdfc;
$yellow: #f7d78f;
$purple: #f8d9ec;
$green: #8ddbc3;
$light-blue: #dce9f4;
$gray: #9b9b9b;
