// Variables

// Gray and Brand Colors for use across theme

$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
// $gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 75.5%); // #eee

$brand-twitter:		#1da1f2;
$brand-facebook:	#3b5998;
$brand-google-plus:	#dd4b39;

// Color code

$dark-purple-img: #ECCFD6;
$light-purple-img: #F9D8EB;
$green-img: #83B5A5;
$light-blue-img: #9FBEFF;
$dark-blue-img: #3040C4;
$yellow-img: #F8CF62;
$beige-img: #FCF0E2;
$pink-img: #F36B7F;
$yellow-pb: #ffcc02;
$titles: #333;
$body: #4a4a4a;
$white: #fff;
$black: #000;

// Playbook color code
$light-green-pb: #8CDBC3;
$mid-green-pb: #58CEAA;
$dark-green-pb: #2AB58B;
$dark-yellow-pb: #D89A0F;
$mid-blue-pb: #76A1FF;
$light-gray-pb: #6E6E6E;
$link-blue-pb: #6188DF;

// Old color code

$blue: #a0bdfc;
$yellow: #f7d78f;
$purple: #f8d9ec;
$green: #8ddbc3;
$light-blue: #dce9f4;
$gray: #9b9b9b;
